@charset "UTF-8";


.chattingbox{
	border: 3px #f9f9f9 solid;
}

.enter_title{
	border-bottom: 3px solid #f9f9f9;
	text-align: center;
	padding: 10%;
}

img{
	margin-left: 5%;
}
.btnbox span{
	font-size: 3px;
}

.contentbox{
	height: 700px;
	background-color: #b2c7d9;
	overflow-y:scroll;
}

.secontent{
	text-align: right;
	margin: 10px;
}

.recontent{
	text-align: left;
	margin: 10px;
}

.secontent .content{
	background-color: #ffeb33;
}

.content{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	font-size: 12px;
}

.date{
	font-size: 1px;
	margin: 5px 2px;
}

.alarm{
	background-color: #a9bdce;
	text-align: center;
	font-size: 8px;
	padding: 2%;
	margin:  0 auto;	/* div 가운데 배치 */
	width: 70%;
}

